/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F7FA;
    color: #2C3E50;
    line-height: 1.6;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 1rem;
}
header h1 {
    margin: 0;
    font-size: 2rem;
    color: #2C3E50;
}  

section {
    background: #E8EAF0;
    margin: 10px auto;
    border-radius: 10px;
    padding: 50px 10px;
    text-align: center;
    border-radius: 8px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2C3E50;
    transform: scale(1.05);
}
/* Animation d'effet de clic */
.nav-lien {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.9s ease, color 0.3s ease;
}

.nav-lien:active {
    transform: scale(0.9); 
}

.nav-lien::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #3498DB;
    transition: width 0.5s ease;
}

.nav-lien:hover::after {
    width: 100%; 
}
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #2C3E50;
}
/* Section contenant l'image */
.image-section {
    text-align: center;
    padding: 30px 20px;
    background-color: #E8EAF0;
    max-width: 800px;
    margin: 60px auto;
    border-radius: 4px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border: 3px solid #D0D6E0;
}

/* Style de l'image */
.image-between {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#accueil {
    background-color: #ffffff;
    padding: 2rem;
}

#presentation {
    background-color: #f9f9f9;
    padding: 2rem;  
}
#cv {
    font-family: 'Arial', sans-serif;
    margin: 0
